.App {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    position: relative;
}

.App-light{
    color:#232127;
}

.App-dark{
    color:#e5e3e8;
}

button:focus {
    outline: none;
}

button {
    font-size: .5em;
    background-color: #6441a4;
    color: #fff;
    padding: 1em;
}

.btn-wrapper {
    /* height: 50px; */
    /* width: 120px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.playground {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .box {
    height: 20px;
    width: 20px;
    background-color: rgb(150, 49, 180);
    border-radius: 100%;
} */

.box span {
    color: gray;
}

.money-btn-wrapper {
    /* height: 50px; */
    /* width: 120px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    bottom: 100px;
    position: absolute;
    right: 100px;
}

.rain-btn {
    margin-top: 20px;
    margin-bottom: -12px;
    border-radius: 45% 45% 0 0;
    /* border: 1px solid; */
    border: none;
}

